
.Espresso {
    padding: 200px 0 ;
  
}
.Espresso-list {
    
 display: flex;
 align-items: center;
}
.Espresso-item {
    width: 255px; 
  & + & {
    margin-left: 30px;
  } 

}
.Espresso-title {
    margin-top: 71px;
   margin-bottom: 24px;
   color: #333D4B;
   text-align: center;
   font-family: Fraunces,serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 900;
   line-height: 32px; 
}
.Espresso-text {
    color: #333D4B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

@media only screen and (max-width:1000px){
  .Espresso-list {
   flex-direction: column;
   text-align: center;
   }
  .Espresso-item{
    display: flex;
    align-items: center;
   
    
  }
  .Espresso-content{
   
  }
}
@media only screen and (max-width:400px){
  .Espresso {
    padding: 120px 0 ;
  
}

.Espresso-item {
    width: 282px; 
  

}
.Espresso-title {
    margin-top: 24px;
   margin-bottom: 10px;
    
}
.Espresso-text {
   margin-bottom: 48px;
}
}
