

.footer {
    padding: 53px 85px 51px;
    background-color: #2C343E;
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}
.footer-logo-link {
    display: inline-block;
   
}

.footer-link {
    display: flex;
    align-items: center;
   
}
.footer-item {

    & + & {
        margin-left: 33px;
    }
}
.footer-item-link{
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: color 0.5s linear;
    
    &:hover {
color: white;
    }
}

.footer-icon{
margin-right: 10px;
}
@media only screen and (max-width:900px){
    .footer {
        padding: 53px 30px 51px;
        
        
    }
}
@media only screen and (max-width:800px){
   .footer{
    flex-direction: column;
   }
   .footer-link{
    margin-top: 32px;
    margin-bottom: 65px;
   }

}
@media only screen and (max-width:400px){
  .footer{
    text-align: center;
  }
    .footer-link{
        flex-direction: column;
       text-align: center;
        margin-top: 48px;
        margin-bottom: 24px;
    } 
    .footer-item {
        margin-bottom: 24px;
       
    }
    .footer-logo-img{
        width: 217px;
        height: 24px;
    }
}