
.plan-section {
padding: 200px 165px;
}
.plan-strong{
    margin-bottom: 80px;
    color: #83888F;
    font-family: Fraunces,serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
}

.plan-list {
    display: flex;
    margin-top: 80px;
    align-items: center;
}
.plan-item {
    width: 267px;

    & + &{
        margin-left: 95px;
    }
}

.plan-item-title {
    margin-top: 38px;
    margin-bottom: 42px;
    color: #333D4B;
    font-family: Fraunces,serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}
.plan-item-text {
    margin-bottom: 64px;
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.plan-link {
    width: 217px;
    padding: 15px 2px 16px;
    display: inline-block;
    border-radius: 6px;
    background-color: #0E8784;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces,serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; 
    
    
}
@media only screen and (max-width:1080px){
    .plan-item{
        max-width: 223px;
    }
}
@media only screen and (max-width:1000px){

    .plan-section {
        padding: 144px ;
        }
        .plan-strong{
            margin-bottom: 55px;
           
        }
        .plan-list {
            justify-content: space-between;
        }
      
    
        .plan-item {
        
        
            & + &{
                margin-left: 50px;
            }
        }
        
        .plan-item-title {
            margin-bottom: 38px;
            font-size: 28px;
            line-height: 32px;
        }
        .plan-item-text {
            margin-bottom: 44px;
            font-size: 15px;
            line-height: 25px; 
        }
         
        
}
@media only screen and (max-width:600px){
    
    .plan-section {
        padding: 120px 0;
        }
        .plan{
            text-align: center;
        }
        .plan-strong{
            text-align: center; 
        }
        .plan-list {
            flex-direction: column;
         } 
        
        .plan-item {
            max-width: 100%;
           text-align: center;
        
        }
        
        .plan-item-title {
            margin-top: 24px;
            margin-bottom: 28px;
            font-size: 28px;
            line-height: 32px;
        }
        .plan-item-text {
            margin-bottom: 56px;
            font-size: 15px;
            line-height: 25px; 
        }
        .plan-wrapper{
            text-align: center;
        }
      
}